
@{
    ViewData["Title"] = "Fincas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Lista de Fincas del Sistema</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-success" id="btnNuevo"><i class="fas fa-plus"></i> Nueva Finca</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">

                    <table class="table table-bordered bg-gray-300" id="tbdatafinca" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>IdFinca</th>
                                <th>Cod_Finca</th>
                                <th>Descripcion</th>
                                <th>Proveedor</th>
                                <th>Email</th>
                                <th>Area(ha)</th>
                                <th>Teléfono</th>
                                <th>Grupo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalFinca" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Detalle Finca</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" value="0" id="txtId">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <label for="txtCodFinca">Cod_Finca</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCodFinca" name="CodFinca">
                                    </div>
                                    <div class="form-group col-sm-8">
                                        <label for="txtDescripcion">Descripcion</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtDescripcion" name="Descripcion">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-7">
                                        <label for="txtProveedor">Proveedor</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtProveedor" name="Proveedor">
                                    </div>
                                    <div class="form-group col-sm-5">
                                        <label for="txtEmail">Email</label>
                                        <input type="email" class="form-control form-control-sm input-validar" id="txtEmail" name="Email">
                                    </div>
                                </div>
                                <div class="form-row">

                                    <div class="input-group-prepend">
                                        <label style="color:darkgreen; font-size:small" class="input-group-text mb-2" for="txtTelefono">Telefono</label>
                                    </div>
                                    <input type="text" class="form-control  input-validar col-sm-2" style="text-align:right; font-size:small" id="txtTelefono" name="Telefono">
                                  
                                    <div class="input-group-prepend pl-3">
                                        <label style="color:darkgreen; font-size:small" class="input-group-text mb-2" for="txtArea">Area</label>
                                    </div>                                    
                                    <input type="text" class="form-control input-validar col-sm-2 campoDecimal"
                                           aria-label="Small" style="text-align:right; font-size:small" id="txtArea" name="Area">
                               
                                    <div class="input-group-prepend pl-3">
                                        <label style="color:darkgreen; font-size:small" class="input-group-text mb-2" for="cboGrupo">Grupo/Etapa </label>
                                    </div>
                                    <select style="color:darkgreen; font-size:small" class="custom-select col-sm-2 mb-2" aria-label="Small" id="cboGrupo" name="TipoRevision">
                                        <option value=1>Etapa 1era</option>
                                        <option value=2>Etapa 2da</option>
                                        <option value=3>Etapa 3ra</option>
                                        <option value=4>Etapa 4ta</option>
                                        <option value=5>Etapa 5ta</option>
                                        <option value=6>Etapa 6ta</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/Common.js"></script>
    <script src="~/js/vistas/MaestroFinca_Index.js"></script>
    

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @* <script src="~/js/vistas/datatables-demo.js"></script> *@

}


