
@{
    ViewData["Title"] = "Requisitos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Lista de Requisitos del Proyecto</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-success" id="btnNuevo"><i class="fas fa-plus"></i> Nuevo Requisito</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">

                    <table class="table table-bordered bg-gray-200" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>IdRequisito</th>                                
                                <th>Descripcion</th>
                                <th>Ambito</th>
                                <th>Norma Legal</th>
                                <th>Bonsucro</th>
                                <th>Observaciones</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Detalle Requisito</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" value="0" id="txtId">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-row">                                    
                                    <div class="form-group col-sm-6">
                                        <label for="txtDescripcion">Descripción</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtDescripcion" name="Descripcion">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtAmbito">Ambito</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtAmbito" name="Ambito">
                                    </div>
                                </div>
                                <div class="form-row">                                    
                                    <div class="form-group col-sm-6">
                                        <label for="txtNorma">Norma</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtNorma" name="Norma">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtBonsucro">Bonsucror</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtBonsucro" name="Bonsucro">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="txtObservacinesTelefono">Observaciones</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtObservaciones" name="Observaciones">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>                    
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/CheckList_Index.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @* <script src="~/js/vistas/datatables-demo.js"></script> *@

}




