
@{
    ViewData["Title"] = "Visitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Visitas de Campo - Seguimiento a Planes de Trabajo</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-success" id="btnNuevo"><i class="fas fa-plus"></i> <i class="fas fa-truck-pickup"></i>  Nueva Visita</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">

                    <table class="table table-bordered bg-gray-200" id="tbVisitas" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>IdVisita</th>
                                <th>Plan_de_Trabajo</th>
                                <th>Finca</th>
                                <th>Fecha</th>
                                <th>Responsable</th>
                                <th>Mandador</th>
                                <th>Observaciones</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <!--  Modal-->
    <div class="modal fade" id="modalVisitas" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Visitas de Campo</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form row input-group input-group-sm mb-2 col-sm-12">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cboPlan">Código Plan</label>
                            </div>
                            <select class="custom-select input-validar" id="cboPlan" name="CodigoPlan">
                            </select>
                            <input type="text" class="mb-0 col-sm-9" id="txtDescripcionplan" name="DescripcionPlan" disabled>
                            <input type="hidden" id="txtIdPlan" name="idPlan">
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-row">
                                    <div class="form-group col-sm-2">
                                        <label for="txtId">IdPlan</label>
                                        <input type="text" class="form-control form-control-sm" id="txtId" disabled>
                                    </div>
                                    <div class="form-group col-sm-10">
                                        <label for="txtDescripcion">Descripción</label>
                                        <input type="text" class="form-control form-control-sm" id="txtDescripcion" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-2">
                                        <label for="txtCodFinca">Cod.Finca</label>
                                        <input type="text" class="form-control form-control-sm" id="txtCodFinca" disabled>
                                    </div>
                                    <div class="form-group col-sm-10">
                                        <label for="txtNombreFinca">Nombre Finca</label>
                                        <input type="text" class="form-control form-control-sm" id="txtNombreFinca" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label for="txtFechaIniPlan">Fecha</label>
                                        <input type="text" class="form-control form-control-sm" id="txtFecha" disabled>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtFechaFinPlan">Fecha Fin</label>
                                        <input type="text" class="form-control form-control-sm" id="txtFechaFinPlan" disabled>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtAvance">Responsable</label>
                                        <input type="text" class="form-control form-control-sm" id="txtResponsable" disabled>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtMandador">Mandador</label>
                                        <input type="text" class="form-control form-control-sm" id="txtMandador" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="txtObservaciones">Observaciones</label>
                                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" disabled>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtFoto1">Foto1</label>
                                    <input class="form-control-file" type="file" id="txtFoto1" />
                                    <label for="txtFoto2">Foto1</label>
                                    <input class="form-control-file" type="file" id="txtFoto2" />
                                </div>

                                <hr class="border-bottom-primary"> <!-- Linea de separacion -->
                                <h8>Actividades Revisadas</h8>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="tbActividades" class="table table-sm table-striped w-100">
                                            <thead>
                                                <tr>
                                                    <th hidden>IdActividad</th> <!-- Columna oculta -->
                                                    <th>Descripción</th>
                                                    <th>Tipo</th>                                                    
                                                    <th>Avance_Ant.</th>
                                                    <th>Avance_Act.</th>
                                                    <th>Estado_Ant.</th>
                                                    <th>Estado_Act.</th>
                                                    <th>Comentarios</th>
                                                    <th>Observaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                    <button class="btn btn-primary btn-sm" id="btnGuardar"><i class="fas fa-database"></i>  Guardar Cambios</button>
                    <button class="btn btn-primary btn-sm" id="btnEnviarCorreo"><i class="fas fa-envelope"></i>  Enviar</button> <!-- Nuevo botón -->
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
  
</div>

@section Scripts {
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>


    <script src="~/js/vistas/Visita_Index.js"></script>

    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>



    <script src="~/vendor/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/datepicker/locales/bootstrap-datepicker.es.min.js"></script>


    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @*     <script src="js/vistas/datatables-demo.js"></script> *@
}




