
@{
    ViewData["Title"] = "Mensajeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/animate.min.css" />

}

<style>
    .btn-custom {
        background-color: #54e86d;
        border: 1px solid #54e86d;
        color: #fff;
        padding: 0px; /* Ajusta el padding para controlar el tamaño del botón */
        font-size: 23px; /* Ajusta el tamaño del ícono */
        width: 32px; /* Controla el ancho del botón, si necesitas un tamaño fijo */
        height: 32px; /* Controla la altura del botón */  
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
    }

        .btn-custom i {
            font-size: 1.em; /* Ajusta este valor para aumentar o reducir el tamaño del ícono */
        }

        .btn-custom:hover {
            color: #fff;
            background-color: #33BB4A;
            border-color: #33BB4A;
            
        }
</style>


<div class="container-fluid">
    <!-- Contenedor principal con margen superior -->
    <!-- Encabezado principal -->
    <h5 class="text-center mb-4 bg-second-primary text-white card">Envío de correos y mensajes a productores</h5>

    <div class="row">
        <!-- Primer Contenedor -->
        <div class="col-md-6 mb-4 card shadow">
            <!-- Encabezado del primer contenedor -->
            <h6 class="text-center font-weight-bold card-header py-2 bg-second-primary text-white ">Visitas de Seguimiento</h6>

            <!-- Tabla 1 -->
            <table class="table table-bordered" id="tbVisitas">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Finca</th>
                        <th>Fecha</th>
                        <th>Acciones_M</th>
                    </tr>
                </thead>
                <tbody>                
                </tbody>
            </table>
            <h7 class="bg-second-primary card">.</h7> 
        </div>

        <!-- Separación entre contenedores en pantallas pequeñas -->
        <div class="w-100 d-md-none"></div>

        <!-- Segundo Contenedor -->
        <div class="col-md-6 mb-4 card shadow">
            <!-- Encabezado del segundo contenedor -->                     
            <h6 class="text-center font-weight-bold card-header bg-second-primary text-white py-2">Revisiones en Fincas</h6>
            
            
            <!-- Tabla 2 -->
            <table class="table table-bordered" id="tbRevisiones">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Finca</th>
                        <th>Fecha</th>
                        <th>Acciones_M</th>
                    </tr>
                </thead>
                <tbody>                    
                </tbody>
            </table>
            <h7 class="bg-second-primary card">.</h7>
        </div>
    </div>
</div>

@section Scripts {
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/Mensajeria_Index.js"></script>
    <script src="~/js/vistas/Common.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @*     <script src="js/vistas/datatables-demo.js"></script> *@
}