
@{
    ViewData["Title"] = "Visitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Visitas de campo - Seguimiento plan de Trabajo</h6>
        </div>
        <div class="card-body">
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="cboBuscarPor">Buscar por</label>
                    <select class="form-control form-control-sm" id="cboBuscarPor">
                        <option value="fecha">Fechas</option>
                        <option value="finca">Finca</option>
                    </select>
                </div>
                <div class="form-group col-sm-2 busqueda-fecha">
                    <label for="txtFechaIni">Fecha Desde</label>
                    <input type="text" class="form-control form-control-sm" id="txtFechaIni">
                </div>
                <div class="form-group col-sm-2 busqueda-fecha">
                    <label for="txtFechaFin">Fecha Hasta</label>
                    <input type="text" class="form-control form-control-sm" id="txtFechaFin">
                </div>
                <div class="form-group col-sm-5 busqueda-finca">
                    <label for="txtFinca">Finca</label>
                    <input type="text" class="form-control form-control-sm" id="txtFinca">
                </div>
                <div class="form-group col-sm-3">
                    <button class="btn btn-success btn-block btn-sm" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-sm table-striped" id="tbPlanes">
                        <thead>
                            <tr>
                                <th>IdPlan</th>
                                <th>Descripcion</th>
                                <th>Finca</th>
                                <th>Fecha_Ini</th>
                                <th>Fecha_Fin</th>
                                <th>Estado</th>
                                <th>Avance %</th>
                                <th>Observaciones</th>
                                <th>Acciones_Planes</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalPlanes" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Detalle Plan</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-row">
                                    <div class="form-group col-sm-2">
                                        <label for="txtId">IdPlan</label>
                                        <input type="text" class="form-control form-control-sm" id="txtId" disabled>
                                    </div>
                                    <div class="form-group col-sm-10">
                                        <label for="txtDescripcion">Descripción</label>
                                        <input type="text" class="form-control form-control-sm" id="txtDescripcion" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-2">
                                        <label for="txtCodFinca">Cod.Finca</label>
                                        <input type="text" class="form-control form-control-sm" id="txtCodFinca" disabled>
                                    </div>
                                    <div class="form-group col-sm-10">
                                        <label for="txtNombreFinca">Nombre Finca</label>
                                        <input type="text" class="form-control form-control-sm" id="txtNombreFinca" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label for="txtFechaIniPlan">Fecha Inicio</label>
                                        <input type="text" class="form-control form-control-sm" id="txtFechaIniPlan" disabled>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtFechaFinPlan">Fecha Fin</label>
                                        <input type="text" class="form-control form-control-sm" id="txtFechaFinPlan" disabled>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtAvance">Avance</label>
                                        <input type="text" class="form-control form-control-sm" id="txtAvance" disabled>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="cboEstado">Estado</label>
                                        <select class="form-control form-control-sm" id="cboEstado">
                                            <option value="INICIADO">Iniciado</option>
                                            <option value="EN PROCESO">En Proceso</option>
                                            <option value="FINALIZADO">Finalizado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="txtObservaciones">Observaciones</label>
                                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" disabled>
                                    </div>
                                </div>
                                <hr class="border-bottom-primary"> <!-- Linea de separacion -->
                                <h8>Actividades</h8>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="tbActividades" class="table table-sm table-striped w-100">
                                            <thead>
                                                <tr>
                                                    <th hidden>IdActividad</th> <!-- Columna oculta -->
                                                    <th>Descripción</th>
                                                    <th>Tipo</th>
                                                    <th>Fecha Inic</th>
                                                    <th>Fecha Fin</th>
                                                    <th>Respons.</th>
                                                    <th>Recursos</th>
                                                    <th>Estado</th>
                                                    <th>Avance %</th>
                                                    <th>Comentarios</th>
                                                    <th>Requisito</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                    <button class="btn btn-primary btn-sm" id="btnGuardar"><i class="fas fa-database"></i>  Guardar Cambios</button>
                    <button class="btn btn-primary btn-sm" id="btnEnviarCorreo"><i class="fas fa-envelope"></i>  Enviar</button> <!-- Nuevo botón -->
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->
@section Scripts {
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->

    
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>


    <script src="~/js/vistas/Common.js"></script>



    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @*     <script src="js/vistas/datatables-demo.js"></script> *@
}