@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="row align-items-center text-center text-md-start">
        <!-- Imagen a la izquierda -->
        <div class="col-12 col-md-auto mb-3 mb-md-0 d-flex justify-content-center">
            <div id="lafoto" class="bg-privacy-image" style="width: 80px; height: 80px;"></div>
        </div>

        <!-- Texto a la derecha (en móviles se muestra abajo) -->
        <div class="col">
            <h2 class="display-6 mb-0">Sistema de Alertas para Gestión de Permisos y Licencias</h2>
        </div>
    </div>

    <div class="text-center mt-3">
        <h1 class="display-5">Gestión Socio Ambiental - Pantaleon</h1>
        <p>Sistemas de Información <a href="https://solintesa.com"> Apps</a>.</p>
    </div>
</div>
