@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    <h2 class="display-4">Sistema de Encadenamiento de proveedores</h2>
</div>
<div class="text-center">
    <h1 class="display-4">Negocios de Caña - Pantaleon</h1>
    <p>Sistemas de Información <a href="https://solintesa.com"> building Apps</a>.</p>
</div>
<div class="modal-dialog modal-xl" role="document">
</div>