@{
    ViewData["Title"] = "Acerca de...";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="text-center">
    <h3 class="display-6">Sistema de encadenamiento de proveedores para cumplimiento de normas vigentes mínimas</h3>
</div>
<hr />
<div class="text-center">
    <h3 class="display-5">Monte Rosa, S.A.</h3>
    <p>Sistemas de Información desarrollado por <a href="https://solintesa.com"> Solintesa</a>.</p>
</div>
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div id="lafoto" class="col-lg-3 d-none d-lg-block bg-privacy-image"></div>
            <div class="col-lg-8">
                <div class="p-5">
                    <div class="text-center">
                        <h4 style="color:darkgreen">Creación y Uso</h4>
                        <p style="color:darkgreen; text-align:justify">
                            El sistema de alertas para gestión de permisos de Pantaleon, es una herramienta desarrollada para apoyar la gestión de
                            renovación de licencias y concesiones que Monte Rosa necesita para su operación dentro del marco legal y oficial, que
                            las normas y leyes estipulan para empresas del rubro.
                        </p>

                        <p style="color:darkgreen; text-align:justify">
                            Con esta herramienta se pretende mantener una visión actualizada de las necesidades de gestión para la vigencia de
                            los permisos y licencias, así como los involucrados en realizar estas gestiones antes las instituciones del estado o 
                            cualquier otra organización con la que Monte Rosa ha establecido compromisos.
                            
                        </p>
                      
                        <p style="color:darkgreen; text-align:justify">
                            Con base en las necesidades detalladas por Pantaleon, se desarrolla esta herramienta para generar las alertas de renovaciones                            
                            de los permisos y tener una mejor perspectivas de los plazos estipulados y responsabilidades de las partes.
                        </p>                       

                    </div>                   
                    
                </div>            
            </div>
        </div>
    </div>
</div>
