@{
    ViewData["Title"] = "Acerca de...";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="text-center">
    <h3 class="display-6">Sistema de encadenamiento de proveedores para cumplimiento de normas vigentes mínimas</h3>
</div>
<hr />
<div class="text-center">
    <h3 class="display-5">Servicios y Soluciones Inteligentes, S.A.</h3>
    <p>Sistemas de Información <a href="https://solintesa.com"> building Apps</a>.</p>
</div>
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div id="lafoto" class="col-lg-3 d-none d-lg-block bg-privacy-image"></div>
            <div class="col-lg-8">
                <div class="p-5">
                    <div class="text-center">
                        <h4 style="color:darkgreen">Creación y Uso</h4>
                        <p style="color:darkgreen; text-align:justify">
                            El sistema de encadenamiento de productores de caña de azúcar de Pantaleon, es una herramienta desarrollada para 
                            apoyar la gestión de los productores para cumplir con las normas y leyes que la legislación del país le obliga, en materias
                            laborales, de seguridad ocupacional, ambientales y de responsabilidad social.
                        </p>

                        <p style="color:darkgreen; text-align:justify">
                            Con esta herramienta se pretende impulsar la adopción de modelos de mejora continua, que permitan al productor
                            encaminar sus esfuerzos para implementar mejores práticas y la estandarización de procesos.
                        </p>
                      
                        <p style="color:darkgreen; text-align:justify">
                            Con base en las necesidades detalladas por Pantaleon, se desarrolla esta herramienta para el registro y control de 
                            las actividades, contenidas en planes de trabajo que se origina con las primeras tareas de revisión de cumplimiento
                            de requisitos de ley, y que son consensuadas con los productores, de tal forma que se identifica la necesidad de mejoras
                            en las condiciones y prácticas que se realizan en la finca.
                        </p>                       

                    </div>                   
                    
                </div>            
            </div>
        </div>
    </div>
</div>
