
@{
    ViewData["Title"] = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos { 
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <style>
        /* Reducir tamaño de fuente y espaciado en las tablas */
        .table {
            font-size: 0.85rem; /* Ajusta el tamaño de la fuente */
            background-color: #f9f9f9; /* Color de fondo de la tabla */
            border: 2px solid #333; /* Color y grosor del borde externo */
        }

            .table td, .table th {
                padding: 0.4rem; /* Ajusta el espaciado vertical */
                border: 1px solid #ddd; /* Color del borde de las celdas */
            }

            .table input {
                font-size: 0.85rem; /* Ajusta el tamaño de la fuente en los inputs */
            }
    </style>

}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class="mb-0" style="color:darkgreen">Reportes de Revisiones Individuales Finca </h5>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="form row input-group input-group-sm mb-2 col-sm-9">
            <div class="input-group-prepend">
                <label class="input-group-text" for="cboRevision">Revision</label>
            </div>
            <select class="custom-select input-validar" id="cboRevision" name="CodigoRevision"></select>    
            
            <input type="hidden" id="txtIdFinca" name="idFinca">
        </div>
        <!-- Cod.Finca y Nombre Finca en línea completa -->

        <div class="form row input-group input-group-sm mb-2 col-sm-12">

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputCodFinca" >Cod. Finca</span>
            </div>
            <input type="text" style="font-weight:bold;color:darkgreen" class="form-control input-validar col-sm-1" aria-label="Small" aria-describedby="inputCodFinca" id="txtCodFinca" name="CodFinca" disabled>
            <div class="input-group-prepend pl-3">
                <span class="input-group-text" id="inputNombreFinca">Nombre Finca</span>
            </div>
            <input type="text" style="font-weight:bold;color:darkgreen" class="form-control input-validar col-sm-6" aria-label="Small" aria-describedby="inputNombreFinca" id="txtNombreFinca" name="NombreFinca" disabled>
            <div class="input-group-prepend pl-3">
                <span class="input-group-text" id="inputFecha">Fecha</span>
            </div>
            <input type="text" style="font-weight:bold;color:darkgreen" class="form-control input-validar col-sm-2" aria-label="Small" aria-describedby="inputFecha" id="txtFecha" name="Fecha" disabled>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart - Cumplimiento x Finca -->
        <div class="col-xl-6 col-lg-6" >
             <div class="card shadow mb-1"> 
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white">Cumplimiento de la Finca</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="height: 300px !important;">
                        <canvas id="graficoCumplimiento1"></canvas>
                    </div>
                </div>
             </div>
            <div class="card shadow mb-1">
                <h5 style="color:darkgreen">Estado de Requerimientos</h5>
                <div id="tablaCumplimiento"></div> <!-- Tabla Cumplimiento -->
               
            </div>
        </div>

        <!-- Chart - Cumplimiento por Ambito-->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-1">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white">Cumplimiento por Ámbito</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="height: 300px !important ;">
                        <canvas id="graficoCumplimiento2"></canvas>
                    </div>
                </div>
                
            </div>
            <div class="card shadow mb-1">
                <h5 style="color:darkgreen">% Cumplimiento por Ambito</h5>
                <div id="tablaTipo"></div> <!-- Tabla Tipo -->
            </div>
        </div>
    </div>

</div>

@section Scripts {    
    <script src="~/vendor/chart.js/Chart.min.js"></script>    
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/vistas/Reporte_Index.js"></script>
    <script src="~/js/vistas/Common.js"></script>
}