
@{
    ViewData["Title"] = "Reporte_por_Grupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Estilos {
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <style>
        /* Reducir tamaño de fuente y espaciado en las tablas */
        .table {
            font-size: 0.85rem; /* Ajusta el tamaño de la fuente */
            background-color: #f9f9f9; /* Color de fondo de la tabla */
            border: 2px solid #333; /* Color y grosor del borde externo */
        }

            .table td, .table th {
                padding: 0.4rem; /* Ajusta el espaciado vertical */
                border: 1px solid #ddd; /* Color del borde de las celdas */
            }

            .table input {
                font-size: 0.85rem; /* Ajusta el tamaño de la fuente en los inputs */
            }
    </style>

}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class="mb-0" style="color:darkgreen">Reportes de Revisiones por Grupo o Etapa </h5>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="input-group-prepend">
            <label style="color:darkgreen; font-size:small" class="input-group-text mb-2" for="cboGrupo">Grupo o Etapa</label>
        </div>
        <select style="color:darkgreen; font-size:small" class="custom-select col-sm-4 mb-2" aria-label="Small" id="cboGrupo" name="TipoRevision">
            <option value=1>Etapa 1era</option>
            <option value=2>Etapa 2da</option>
            <option value=3>Etapa 3ra</option>
            <option value=4>Etapa 4ta</option>
            <option value=5>Etapa 5ta</option>
            <option value=6>Etapa 6ta</option>
        </select>      
    </div>
    
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart - Cumplimiento x Finca -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-1">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white">Cumplimiento del Grupo de Fincas </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="height: 300px !important;">
                        <canvas id="graficoCumplimiento1"></canvas>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-1">
                <h5 style="color:darkgreen">Estado de Requerimientos x Grupo</h5>
                <div id="tablaCumplimiento"></div> <!-- Tabla Cumplimiento -->
            </div>
        </div>

        <!-- Chart - Cumplimiento por Ambito-->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-1">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white">Cumplimiento por Ámbito del Grupo</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="height: 300px !important ;">
                        <canvas id="graficoCumplimiento2"></canvas>
                    </div>
                </div>

            </div>
            <div class="card shadow mb-1">
                <h5 style="color:darkgreen">% Cumplimiento por Ambito del Grupo</h5>
                <div id="tablaTipo"></div> <!-- Tabla Tipo -->
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/vendor/chart.js/Chart.min.js"></script>   
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/vistas/RepGrupo_Index.js"></script>
    <script src="~/js/vistas/Common.js"></script>
}

